page-browser {
    $progress-height: 0.2rem; //$progress-bg: #d43f3a;
    //$progress-bg: linear-gradient(-45deg, #333 100%, #324512 60%,rgba(255,255,255,0.5) 0%);
    //$progress-bg: linear-gradient(left, #5bd8ff, #ff0000);
    //$progress-bg: linear-gradient(-45deg, rgba(255,255,255,0.5)0%, #324512 60%,#333 100%);
    $progress-bg: #77b6ff;
    /*.scroll-content {
    overflow: hidden;
  }*/
    .content {
        height: 100%;
    }
    .progress {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: $progress-height;
        background: #f5f5f5;
        z-index: 200;
        .progress-inner {
            width: 0;
            background: $progress-bg;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            box-shadow: 0 0 10px rgba(119, 182, 255, 0.7);
            -webkit-transition: width 0.4s ease;
            transition: width 0.4s ease;
        }
    }
    .iframe {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: auto;
        border: none;
    }
}