page-contact {
  .searchbar-md {
    background-color: #F2F4F7;
    height: 50px;
    padding: 4px 8px 4px 8px;
  }
  .searchbar-md .searchbar-input {
    box-shadow: none;
    border: #F2F4F7 solid 1px;
    border-radius: 5px;
    height: 34px;
  }
  .searchbar-md .searchbar-search-icon {
    left: 8px;
    top: 8px;
  }
  .searchbar-md .searchbar-input {
    padding: 6px 35px;
  }
  .item-inner{
    border-bottom-width: 0 !important;
    border:none;
  }
  .search-item {
    border-top: 1px solid #F2F4F7 !important;
    margin-left: 8px;
  }
  .search-item:first-child{
    border-top:none !important;
  }
  .img {
    height: 40px;
    width: 40px;
    border-radius: 25px;
    margin-top: 0px !important;
  }
}
