<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines="true">
    <ion-item (click)="changeTheme();">
      <ion-icon name="moon" item-start class="theme-icon" *ngIf="selectedTheme === 'dark-theme'"></ion-icon>
      <ion-icon name="sunny" item-start class="theme-icon" *ngIf="selectedTheme === 'light-theme'"></ion-icon>
      <span class="text">主题</span>
    </ion-item>
    <ion-item (click)="goToQrcode();">
      <ion-icon name="barcode" item-start class="theme-icon"></ion-icon>
      <span class="text">二维码</span>
    </ion-item>
    <ion-item (click)="goToGrid9();" *ngIf="false">
      <ion-icon name="grid" item-start class="theme-icon"></ion-icon>
      <span class="text">九宫格</span>
    </ion-item>
    <ion-item (click)="goContact();">
      <ion-icon name="person" item-start class="theme-icon"></ion-icon>
      <span class="text">通讯录</span>
    </ion-item>
    <ion-item (click)="goSqueak();" *ngIf="false">
      <ion-icon name="musical-note" item-start class="theme-icon"></ion-icon>
      <span class="text">吱口令</span>
    </ion-item>
    <ion-item (click)="goVideo();">
      <ion-icon name="logo-youtube" item-start class="theme-icon"></ion-icon>
      <span class="text">video</span>
    </ion-item>
    <ion-item (click)="testToast();">
      <ion-icon name="ios-alert-outline" item-start class="theme-icon"></ion-icon>
      <span class="text">testToast</span>
    </ion-item>
    <ion-item (click)="presentActionSheet();">
      <ion-icon name="ios-alert" item-start class="theme-icon"></ion-icon>
      <span class="text">presentActionSheet</span>
    </ion-item>
    <ion-item (click)="shareWxSession();" *ngIf="false">
      <ion-icon name="at" item-start class="theme-icon"></ion-icon>
      <span class="text">分享到朋友圈</span>
    </ion-item>
    <ion-item (click)="shareWxTimeLine();" *ngIf="false">
      <ion-icon name="contacts" item-start class="theme-icon"></ion-icon>
      <span class="text">分享给好友</span>
    </ion-item>
    <ion-item (click)="shareQQ();" *ngIf="false">
      <ion-icon name="at" item-start class="theme-icon"></ion-icon>
      <span class="text">分享到qq</span>
    </ion-item>
    <ion-item (click)="shareQZone();" *ngIf="false">
      <ion-icon name="contacts" item-start class="theme-icon"></ion-icon>
      <span class="text">分享到qq空间</span>
    </ion-item>
  </ion-list>
</ion-content>
