<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines="true">
    <ion-item (click)="changeTheme();">
      <ion-icon name="moon" item-start class="theme-icon" *ngIf="selectedTheme === 'dark-theme'"></ion-icon>
      <ion-icon name="sunny" item-start class="theme-icon" *ngIf="selectedTheme === 'light-theme'"></ion-icon>
      主题
    </ion-item>
    <ion-item (click)="goToQrcode();">
      <ion-icon name="barcode" item-start class="theme-icon"></ion-icon>
      二维码
    </ion-item>
    <ion-item (click)="goToGrid9();" *ngIf="false">
      <ion-icon name="grid" item-start class="theme-icon"></ion-icon>
      九宫格
    </ion-item>
    <ion-item (click)="goContact();">
      <ion-icon name="person" item-start class="theme-icon"></ion-icon>
      通讯录
    </ion-item>
  </ion-list>
</ion-content>
