// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//html {
//  font-size : 62.5%;
//}
//@media only screen and (min-width: 320px){
//  html {
//    font-size: 12px !important;
//  }
//}
//@media only screen and (min-width: 375px){
//  html {
//    font-size: 14px !important;
//  }
//}
//@media only screen and (min-width: 414px){
//  html {
//    font-size: 16px !important;
//  }
//}
//@media only screen and (min-width: 768px){
//  html {
//    font-size: 18px !important;
//  }
//}
//@media only screen and (min-width: 1024px){
//  html {
//    font-size: 32px !important;
//  }
//}
//@media only screen and (min-width: 1025px){
//  html {
//    font-size: 14px !important;
//  }
//}

// 头像选择弹窗
.headChoice {
  .action-sheet-group {
    .action-sheet-title {
      text-align: center;
      padding: 1rem;
      font-size: 1.8rem;
      color: #000;
      background: #fefef9;
    }
    .disable-hover {
      min-height: auto;
      font-size: 1.6rem;
      color: #000;
      background: #fff;
      position: relative;
      .button-inner {
        justify-content: flex-start;
        position: relative;
        .icon {
          position: absolute;
          right: 0px;
          padding-right: 0;
        }
      }
    }
    .action-sheet-cancel {
      background: #fefef9;
      .button-inner {
        justify-content: center;
        font-weight: normal;
      }
    }
  }
}

