// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//html {
//  font-size : 62.5%;
//}
//@media only screen and (min-width: 320px){
//  html {
//    font-size: 12px !important;
//  }
//}
//@media only screen and (min-width: 375px){
//  html {
//    font-size: 14px !important;
//  }
//}
//@media only screen and (min-width: 414px){
//  html {
//    font-size: 16px !important;
//  }
//}
//@media only screen and (min-width: 768px){
//  html {
//    font-size: 18px !important;
//  }
//}
//@media only screen and (min-width: 1024px){
//  html {
//    font-size: 32px !important;
//  }
//}
//@media only screen and (min-width: 1025px){
//  html {
//    font-size: 14px !important;
//  }
//}

// 头像选择弹窗
.photoChoice-ios {
  .action-sheet-group {
    .action-sheet-title {
      text-align: center;
      padding: 1rem;
      font-size: 1.8rem;
      color: #000;
      background: #fefef9;
    }
    .disable-hover {
      min-height: auto;
      font-size: 1.6rem;
      color: #000;
      background: #fff;
      position: relative;
      .button-inner {
        justify-content: flex-start;
        position: relative;
        .icon {
          position: absolute;
          right: 0px;
          padding-right: 0;
        }
      }
    }
    .action-sheet-cancel {
      background: #fefef9;
      .button-inner {
        justify-content: center;
        font-weight: normal;
      }
    }
  }
}

.action-sheet-md {
  text-align: center;
}

.action-sheet-md .action-sheet-container {
  padding: 0 10px;
}

.action-sheet-md .action-sheet-group {
  overflow: hidden;
  margin-bottom: 8px;
  border-radius: 13px;
  background: #f9f9f9;
}

.action-sheet-md .action-sheet-group:first-child {
  padding-top: 0;
}

.action-sheet-md .action-sheet-group:last-child {
  margin-bottom: 10px;
}

.action-sheet-md .action-sheet-title {
  padding: 1.5rem;
  border-bottom: 0.55px solid #d6d6da;
  border-radius: 0;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  color: #8f8f8f;
}

.action-sheet-md .action-sheet-button {
  margin: 0;
  padding: 18px;
  min-height: 5.6rem;
  border-bottom: 0.55px solid #d6d6da;
  font-size: 2rem;
  color: #007aff;
  background: transparent;
}

.action-sheet-md .action-sheet-icon {
  position: absolute;
  right: 0;
  padding-right: 0;
  margin: 0;
}

.action-sheet-md .action-sheet-button:last-child {
  border-bottom: 0;
}

.action-sheet-md .action-sheet-button.activated {
  margin-top: -0.55px;
  border-top: 0.55px solid #ebebeb;
  border-bottom-color: #ebebeb;
  background: #ebebeb;
}

.action-sheet-md .action-sheet-selected {
  font-weight: bold;
  background: #fff;
}

.action-sheet-md .action-sheet-destructive {
  color: #f53d3d;
}

div.action-sheet-group.action-sheet-group-cancel {
  background: #fefef9;
  height: 52.55px;
}

.action-sheet-md .action-sheet-cancel {
  background: #fefef9;
  .button-inner {
    justify-content: center;
    font-weight: normal;
  }
}
