<ion-content no-bounce>
  <ion-navbar>
    <ion-title>分享到</ion-title>
  </ion-navbar>
  <ion-row>
    <ion-col class="col" *ngFor="let navTarget of navTargets">
      <div>
        <!-- <div class="div-img">
          <img class="img" [src]="navTarget.navigationTargetImagePath" />
        </div> -->
        <ion-icon name="{{navTarget.navigationTargetImagePath}}" class="div-img"></ion-icon>
        <div class="div-name">{{navTarget.navigationTargetName}}</div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
